<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Villager Details</title>
</head>
<body>
  <h1>Villager Details</h1>
  <p>Name: <%= villager.name %></p>
  <p>Birthday: <%= villager.birthday %></p>
  <p>Loves: <%= villager.loves %></p>
  <p>Likes: <%= villager.likes %></p>
  <p>Dislikes: <%= villager.dislikes %></p>
  <p>Hates: <%= villager.hates %></p>
</body>
</html>

